@page "/"

<PageTitle>Home</PageTitle>

<h1>Blazor Puzzle #83: Breadcrumbs</h1>

<p>
This is a .NET 9 Blazor Web App with global server interactivity.
</p>

<p>
We want to add the idea of "breadcrumbs" to the app, implementing a "Back" button 
in every screen that takes us back to where we came from.
</p>

<p>
The browser back button is not enough. We want to give our user a chance to save changes.
We also want to make sure that we can go multiple steps back, not just one step.
</p>

<p>
How can we achieve this?
</p>